.jumbotron {
    text-align: center;
    background-color: #2F343F;
    height: auto;
    padding: 50px;
    color: white;
}

body {
    background-color: #EEEEEE;
}

.jumbotron h1 {
    font-size: 78px;
}

.centeredText {
    text-align: center;
    padding-top: 10px;
}

.tagline-div h1 {
    font-size: 48px;
}

.tagline-div {
    padding-top: 25px;
    padding-bottom: 10px;
}

.indexDiv2 {
    padding-top: 15px;
    padding-bottom: 30px;
}

.getstartednow {
    padding-bottom: 10px;
}

.indexDiv3 {
    height: auto;
    padding: 10px;
}

.indexDiv4 {
    height: auto;
    padding: 10px;
}

.indexDiv5 {
    height: auto;
    padding: 10px;
    padding-bottom: 50px;
}

.vector_image {
    max-width: 30%;
    padding-bottom: 10px;
}

.info_text {
    float: inherit;
    font-size: 20px;
}

.discoverDiv {
    padding-bottom: 50px;
}

.page-footer {
    background-color: #2F343F;
    color: white;
}

.item {
    text-align: center;
    padding-bottom: 15px;
}

.business_image {
    width: 175px;
    height: 175px;
}

.phonenumber {
    text-decoration: none;
}

.businessLinks {
    text-decoration: none;
    color: #2F343F;
}

.linkLogos {
    width: 25px;
    height: 25px;
}