.jumbotron {
    text-align: center;
    background-color: antiquewhite;
    height: auto;
    padding: 50px;
}

.jumbotron h1 {
    font-size: 78px;
}

.centeredText {
    text-align: center;
    padding-top: 10px;
}

.tagline-div h1 {
    font-size: 48px;
}

.tagline-div {
    padding-top: 25px;
}