.jumbotron {
    text-align: center;
    background-color: antiquewhite;
    height: auto;
    padding: 50px;
}

.jumbotron h1 {
    font-size: 72px;
}

.centeredText {
    text-align: center;
    padding-top: 10px;
}

.tagline-text {
    float: left;
    width: 40%;
}

.carousel-right {
    float: right;
    width: 60%;
}

.tagline-div h1 {
    font-size: 64px;
}