.Jumbotron {
  background-color: #2f343f;
  height: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.Jumbotron h1 {
  font-size: 78px;
}
